<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <h1>{{courses.name}}</h1>
        </div>
        <div class="col">

            <h2>{{courses.description}}</h2>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/{{courses.videoId}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <h3>{{courses.image}}</h3>      
        </div>
    </div>
</div>
